services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    restart: unless-stopped
    ports:
      - "6333:6333"
    volumes:
      - /home/ms/BOS-AI/ai_stack/qdrant_data:/qdrant_data
    environment:
      QDRANT__STORAGE__STORAGE_PATH: /qdrant_data/storage
    networks:
      - ai_network

networks:
  ai_network:
    external: true
